:root {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    --light-blue: #3495eb;
    --dark-blue: #053a69;
}

header {
    background-image: linear-gradient(to right, var(--light-blue), #236299 50%, var(--dark-blue));
    background-size: cover;
}

header p {
    text-align: center;
    color: white;
    font-size: 65px;
    font: 'Roboto', sans-serif;
    margin: 0;
    padding: 5px;
}

hr {
    background-color: slategray;
    height: 1px;
    border: none;
}

h4 {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.bold {
    font-weight: bold;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

#sidebar {
    padding-right: 30px;
}

#search-btn {
    width: 100%;
    background-color: var(--light-blue);
}

.city-history-button {
    width: 100%;
}

#weather-stats {
    border: 1px solid black;
    margin-bottom: 15px;
    border-radius: 5px;
}

#five-day-header {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.forecast-card {
    background-color: #3495eb;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#cards {
    display: flex;
    justify-content: space-between;
}

.foredate {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.hidden {
    display: none;
    visibility: hidden;
}

#icon {
    background-color: lightslategray;
    border-radius: 50%;
}

#icon img {
    margin-bottom: 8px;
    height: 50px;
    width: 50px;
}

.foreicon {
    text-align: center;
}

.green {
    background-color: green;
    color: white;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.purple {
    background-color: purple;
    color: white;
}

#uvi {
    border-radius: 5px;
    padding: 3px 9px;
}