:root {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    --light-blue: #3495eb;
    --dark-blue: #053a69;
}

header {
    background-image: linear-gradient(to right, var(--light-blue), #236299 50%, var(--dark-blue));
    background-size: cover;
}

header p {
    text-align: center;
    color: white;
    font-size: 65px;
    font: 'Roboto', sans-serif;
    margin: 0;
    padding: 5px;
}

hr {
    background-color: slategray;
    height: 1px;
    border: none;
    margin-right: 15px;
}

h4 {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.bold {
    font-weight: bold;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

#search-btn {
    width: 100%;
    background-color: var(--light-blue);
}

#weather-stats {
    border: 1px solid black;
    margin-bottom: 15px;
}

#five-day-header {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

#search-form {
    margin-right: 15px;
}

.forecast-card {
    background-color: #236299;
    color: white;
    padding: 5px;
}

#cards {
    display: flex;
    justify-content: space-between;
}

.foredate {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.hidden {
    display: none;
    visibility: hidden;
}